babel~=2.0
geopandas>=0.11.0
howso-engine~=19.0
howso-visuals~=1.0
ipykernel>=6.0.0
jupyter-core>=4.7.0
kaleido==0.1.0.post1; sys_platform == "win32"
kaleido; sys_platform != "win32"
matplotlib~=3.4
notebook>6.0.0
numpy
pandas[parquet]~=2.0
plotly>=5.7.0
pmlb>=1.0
scikit-learn