babel>=2.8.0,<3
howso-engine~=15.0
geopandas>=0.11.0
ipykernel>=6.0.0,<7
jupyter-core>=4.7.0,<5
matplotlib>=3.4.0,<4
notebook>6.0.0,<7
numpy
pandas
plotly>=5.7.0
pmlb>=1.0
scikit-learn
seaborn
howso-visuals
# This can be dropped when we stop supporting Python 3.8
ipython<8.13; python_version<'3.9'
