babel~=2.0
geopandas>=0.11.0
howso-engine~=61.0
howso-visuals~=3.0
ipykernel>=6.0.0
ipyreact
jupyter-core>=4.7.0
matplotlib~=3.0, !=3.9.1
notebook>6.0.0
numpy>=2.3; python_version >= '3.14' # Minimum version supporting 3.14
numpy;      python_version < '3.14'
pandas[parquet]~=2.0
pmlb>=1.0
scikit-learn
plotly[kaleido]
tornado>=6.5.5
